.ui-datepicker-calendar {
	display: none;
}

#resultsTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}


#header {
	border: 1px solid cadetblue;
	float: left;
	width: 300px;
	margin-bottom: 10px;
}

#header p {
	margin-left: 8px;
}

#dvData table {
	border-collapse: collapse;
}

#dvData table, #dvData th, #dvData td {
	border: 1px solid black;
}

#dvData tr:hover {
	background-color: #f5f5f5
}

#dvData th {
	background-color: cadetblue;
	color: white;
	padding: 6px; 
}
#btnEdit{
	color: #fff;
	background: #1aac9b;
	
}

#btnDelete{
	color: #fff;
	background: #1aac9b;
	
}
#position {
		
}

#btnGravar {
	color: #fff;
	background: #1aac9b;
	padding: 4px;
	text-align: right;
	
  
}