#resultsTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-collapse: collapse;
	width: 100%;
	background-color: #1aac9b;
}

#resultsTable td, #resultsTable th, #resultsTable td, #resultsTable th {
	background-color: #1aac9b;
}

#btnGravar {
	color: #fff;
	text-align: right;
	position: relative;
	width: 50px;
	left: 428px;
	visibility: visible;
	text-align: center;
	text-shadow: 0 0 .3em black;
	font-size: 9pt;
	border-radius: 5px 5px;
}
#addnotification{
	width: 100%;
}
#divTable{
   width: 100%;
}
.submit-btn {
	display: flex;
	margin: 10px 15px;
	gap: 10px;
	color: #fff;
	background-color: #1aac9b;
	
}

#btnExportar {
	color: #fff;
	background: #1aac9b;
	text-align: center;
	
}

#finalResult {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: #1aac9b;
}

.divButton {
	float: left;
	height: 50px;
	width: 23%;
	padding: 0 10px;
}

.btnSave {
	color: 1aac9b;
	background: 1aac9b;
	align-items: flex-end;
}

#header {
	border: 1px solid cadetblue;
	float: left;
	width: 300px;
	margin-bottom: 10px;
}

#header p {
	margin-left: 8px;
}

#dvData table {
	border-collapse: collapse;
}

#dvData table, #dvData th, #dvData td {
	border: 1px solid black;
}

#dvData tr:hover {
	background-color: #f5f5f5
}

#dvData th {
	background-color: cadetblue;
	color: white;
	padding: 6px;
}

#btnEdit {
	color: #fff;
	background: #1aac9b;
}

#btnDelete {
	color: #fff;
	background: #1aac9b;
}

#position {
	
}

#btnGravar {
	color: #fff;
	background: #1aac9b;
	padding: 4px;
	text-align: right;
}